*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color:gold;
    padding: 25px;       
    color: white;
    margin: 0;
}

.header >h1{
    position: relative;
    left: 10%; 
}